mat-card {
position: absolute;
left: 16rem;
right: 16rem;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

#cancelBtn {
  float: right;
}

#filePicker, mat-form-field, #dropzoneFolderChoice{
  margin: 0.2rem;
}
