mat-sidenav-container {
  width: 16rem;
  height: 100%;
  float: right;
  background: #eee;
  /* margin-left: 7rem; */
  visibility: hidden;
}

mat-sidenav {
  width: 13rem;
  background: #424242;
  right: 0;
}

mat-form-field,
input,
#searchButton {
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.navItems {
  text-align: center;
  padding-left: 1rem;
}

ul {
  padding-inline-start: 1rem;
}

li {
  list-style-type: none;
  padding-top: 2rem;
}
