<mat-sidenav-container *ngIf="userIsAuthenticated">
  <mat-sidenav mode="side" opened="true">
    <div class="navItems">
      <ul>
        <li>
          <form class="searchForm">
            <mat-form-field>
              <input matInput type="search" placeholder="Search...">
            </mat-form-field>
            <button mat-raised-button id="searchButton" color="primary" type="submit">Search</button>
          </form>
        </li>
        <li>
          <a mat-button routerLink="">Upload File</a>
        </li>
        <li>
          <a mat-button routerLink="">Upload Folder</a>
        </li>
        <li>
            <a mat-button routerLink="">New Folder</a>
        </li>
        <li>
            <a mat-button routerLink="">Show Deleted</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
