<!DOCTYPE html>
<mat-spinner *ngIf="isLoading && userIsAuthenticated"></mat-spinner>
<!-- <mat-accordion multi="true" *ngIf="userIsAuthenticated && posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.fileName }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.filePath" [alt]="post.fileName">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->
<mat-grid-list cols="4" rowHeight="100px" *ngIf="userIsAuthenticated && posts.length > 0 && !isLoading">
  <mat-grid-tile
    *ngFor="let postTile of postTiles"
    [colspan]="postTile.cols"
    [rowspan]="postTile.rows"
    [style.background]="postTile.color" (click)="openDialog(postTile)">
    {{postTile.fileName}}
    <!-- <a mat-button color="primary" [routerLink]="['/edit', postTile.fileId]">EDIT</a> -->
    <!-- HAVE A DIALOG POP UP WITH METADATA THEN DECIDE TO EDIT OR DOWNLOAD OR!!! CHECKOUT.
    IF CHECKOUT CREATE NEW VERSION BACKUP AND LOCK CURRENT VERSION FOR NO FURTHER CHECKOUT OR EDITING -->
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0 && userIsAuthenticated"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
<p id="authInfo" class="info-text mat-body-1" *ngIf="!userIsAuthenticated">Please <a [routerLink]="['/login']">Login</a> or <a [routerLink]="['/signup']">Signup</a></p>
